<?xml version="1.0"?>
<ruleset name="PHP_CodeSniffer">
    <rule ref="PSR1"/>
    <rule ref="PSR2"/>
    <file>src</file>
    <arg name="encoding" value="utf-8"/>
    <config name="installed_paths" value="vendor/slevomat/coding-standard"/>
    <rule ref="vendor/slevomat/coding-standard/SlevomatCodingStandard/Sniffs/TypeHints/DeclareStrictTypesSniff.php" />    
</ruleset>
