{% extends 'base.html.twig' %}
{%  block grid %}
<form method="POST">
<label>Podaj rozmiar planszy</label>
<select name="size"> 
    <option value="little" {% if sizename == 'little' %}selected {% endif %}>mała(8x8)</option>
    <option value="medium" {% if sizename == 'medium' %}selected {% endif %}>średnia(16x16)</option>
    <option value="large" {% if sizename == 'large' %}selected {% endif %}>duża(16x32)</option>
</select>
<button type="submit" >utwórz</button>
</form>
<form method="post">
<table>
{% for row in 0..size.0-1 %}
    <tr>
    {% for column in 0..size.1-1 %}
        <td class="cell">
                {% if main_grid[column][row] == -1 %}
                    <button type="submit" name="uncover" value="{{ column }}-{{ row }}">?</button>
                {%  else %}
                    <div class="inner_cell">
                            {{ main_grid[column][row] }}
                    </div>
                {% endif %}
        </td> 
    {% endfor %}
    </tr>
{% endfor %}
</table>
</form>
{% endblock %}